{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    edit review
{% endblock %}

{% block content%}
    <h3>
    edit review
    </h3>

    <div class="row">
        <div class="col-6">
            <form method="post" action="{% url 'books:edit-review' book.id review.id %}">
                {% csrf_token %}
                {{ review_form | crispy }}
                <button class="btn btn-primary mb-4">save</button>
            </form>
        </div>
    </div>
{% endblock %}